@model IEnumerable<Agency.WebApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_end)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_start)
            </td>
            <td>
                @if (item.date_end != DateOnly.MinValue)
                {
                    @item.date_end.ToString("dd.MM.yyyy")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
